[Desktop Entry]
Type=Application
Terminal=false
Name=QMediathekView
Comment=An alternative front-end to the MediathekView database
Categories=Qt;AudioVideo;Player;Video;
Icon=QMediathekView
TryExec=QMediathekView
Exec=QMediathekView
