[Desktop Entry]
Type=Application
Terminal=false
Name=QMediathekView
Comment=An alternative front-end to the MediathekView database
Categories=Qt;AudioVideo;Player;Video;
TryExec=QMediathekView
Exec=QMediathekView
Icon=qmediathekview
